<%= div_for reply, :class => "cell", :'data-id' => reply.id do %>
  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td valign="top" class="avatar">
	<%= link_to image_tag(reply.user.avatar_path, :alt => reply.user.username), reply.user %>
      </td>
      <td class="details valign="top">
	<div class="meta">
	  <span class="timestamp">
	    #<%= reply_counter + 1 %> -
	    <%= time_ago_in_words(reply.created_at) %><%= t('.after_timestamp') %>
	  </span> &nbsp;
	  <span class="reply_button">
	    <%= image_tag 'cleardot.gif', :align => "absmiddle", :border => "0", :alt => t('.reply') %>
	  </span>
	</div>
	<div class="author">
	  <strong><%= link_to "#{reply.user.username}", reply.user %></strong>
	</div>
	<hr class="space" style="margin-bottom:5px" />
	<div class="content">
	  <%= wrap_text(reply.content) %>
	</div>
      </td>
    </tr>
  </table>
<% end %>
