<%= form_for(@node) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <table cellpadding="5" cellspacing="0" border="0">
    <tr>
      <td class="name">
	<%= f.label :name %>
      </td>
      <td class="value">
	<%= f.text_field :name, :class => "sl" %>
      </td>
    </tr>
    <tr>
      <td class="name">
	<%= f.label :description %>
      </td>
      <td class="value">
	<%= f.text_field :description, :class => "sl" %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
	<%= f.submit t(".create_node"), :class => "super normal button" %>
      </td>
    </tr>
  </table>
<% end %>
