<% title @node.name %>

<% if @node.users.size > 0 %>
  <%= content_for :people do %>
    <hr class="space" />
    <div class="box">
      <div class="cell">
        <%= t('.node_users') %>
      </div>
      <div class="cell nodes">
        <% @node.users.each do |user| %>
          <%= link_to image_tag(user.avatar_path(:mini), :alt => user.username), user %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="box">
  <div class="cell">
    <div class="topics_counter">
      <span class="mist"><%= t('.topics_total') %></span>
      <span class="gray"><strong><%= @node.topics.size %></strong></span>
    </div>
    <div class="breadcrumbs">
      <%= link_to "Home", root_url %>
      <span class="separator">&nbsp;›&nbsp;</span>
      <%= @node.name %>
    </div>
    <% unless @node.description.empty? %>
      <div>
        <hr class="space" style="margin-bottom:10px" />
        <span class="ash"><%= @node.description %></span>
      </div>
    <% end %>
    <% if @node.active? %>
      <div>
        <hr class="space" style="margin-bottom:15px" />
        <%= link_to t('.new_topic'), new_node_topic_path(@node), :class => 'super normal button' %>
        <hr class="space" style="margin-bottom:4px" />
      </div>
    <% else %>
      <div>
        <hr class="space" style="margin-bottom:15px" />
        <%= t('.node_closed') %>
        <hr class="space" style="margin-bottom:4px" />
      </div>
    <% end %>      
  </div>
  <% unless @node.topics.empty? %>
    <div class="cell">
      <div class="node_topics">
	<%= render 'shared/item_listing', :items => @node.topics %>
      </div>
    </div>
  <% end %>
  <% if @node.active? and @node.topics.empty? %>
    <div class="cell">
      <%= t('.be_the_first') %>
    </div>
  <% end %>
</div>
