<%= div_for topic, :class => "cell" do %>
  <table class="topic" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td valign="top" class="avatar">
        <%= link_to image_tag(topic.user.avatar_path, :alt => topic.user.username), topic.user %>
      </td>
      <td class="details">
        <div class="counter">
	  <%= link_to topic.replies.size.to_s, "#{url_for(topic)}#u#{topic.replies.size}" %>
	</div>
	<div class="title">
	  <%= link_to topic.title, "#{url_for(topic)}#u#{topic.replies.size}" %>
	</div>
	<div class="meta">
	  <%= t('.before_author') %>
	  <strong><%= link_to topic.user.username, topic.user %></strong>
	  <%= t('.after_author') %><% if topic.nodes.size > 0 %><%=
            t('.before_nodes') %> <strong><%= raw links_to_node_names(topic, ' • ') %></strong>
          <% end %>
	  <br />
	  <%= time_ago_in_words(topic.updated_at) %><%= t('.after_timestamp') %><% unless topic.replies.empty? %><%= t('.before_replier') %>
	    <strong>
	      <%= link_to topic.replies.last.user.username, topic.replies.last.user %>
	    </strong>
	    <%= t('.after_replier') %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
