<div class="box">
  <% @topics.each do |topic| %>
    <%= div_for topic, :class => "cell" do %>
      <table class="topic" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td valign="top" class="avatar">
	    <%= image_tag("http://www.v2ex.com/avatar/428/normal") %>
          </td>
          <td class="details">
	    <div class="title">
	      <%= link_to topic.title, topic %>
	    </div>
	    <div class="meta">
	      By <strong><%= link_to topic.user.username, "javascript:void(0)" %></strong>
	      in <strong><%= link_to topic.node.name, topic.node %></strong><br />
	      <%= time_ago_in_words(topic.updated_at) %> ago
	      <% unless topic.replies.empty? %>
	        replied by <strong><%= link_to "#{topic.replies.last.user.username}", "javascript:void(0)" %></strong>
	      <% end %>
	    </div>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>

