<p id="notice"><%= notice %></p>

<%= div_for @topic do %>
  <h2><%= @topic.title %></h2>
  <%= simple_format @topic.content %>
<% end %>

<p>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Destroy', @topic, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'See All Topics', topics_path %>
</p>

<h2>Replies</h2>
<div id="replies">
  <%= render @topic.replies %>
</div>

<%= form_for [@topic, Reply.new] do |f| %>
  <p>
    <%= f.label :content, "New Comment" %><br />
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Add Reply" %></p>
<% end %>
