<% title @topic.title %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :rss, topic_url(@topic, :rss), :title => @topic.title %>
  <link rel="canonical" href="<%= topic_path(@topic) %>" />
<% end %>

<%= div_for @topic, :class => "box" do %>
  <div class="cell">
    <div class="avatar">
      <%= link_to image_tag(@topic.user.avatar_path(:original), :alt => @topic.user.username), @topic.user %>
    </div>
    <div class="breadcrumbs">
      <%= link_to t('site.home'), root_url %>
      <span class="separator">&nbsp;›&nbsp;</span>
      <%= link_to @topic.nodes.first.name, @topic.nodes.first %>
    </div>
    <h2><%= @topic.title %></h2>
    <div class="meta">
      <%= t('.before_author') %><%= link_to "#{@topic.user.username}", @topic.user %>
      <%= t('.before_timestamp') %> <%= time_ago_in_words(@topic.created_at) %><%= t('.after_timestamp') %><%= t('punctuation.comma') %>
      <%= t('.before_pageviews') %> <%= @topic.pageviews_count %> <%= t('.after_pageviews') %><%= t('punctuation.period') %>
    </div>
  </div>
  <div class="content">
    <%= wrap_text(@topic.content) %>
  </div>
<% end %>

<div id="replies" class="box" style="<%= "display:none" if @topic.replies.empty? %>">
  <div class="cell">
    <div class="summary">
      <span class="counter"><%= t('.reply', :count => @topic.replies.size) %></span> |
      <span class="timestamp">
	<%= @topic.replies.last.created_at.to_datetime.strftime('%Y-%m-%d %H:%M:%S') unless @topic.replies.empty? %>
      </span>
    </div>
  </div>
  <%= render @topic.replies.order('created_at') %>
</div>

<% if user_signed_in? %>
  <hr class="space" />
  <div class="box">
    <%= form_for [@topic, Reply.new], :remote => true, :format => :js do |f| %>
      <div class="cell">
	<div class="upload_image">
          <%= link_to t('.upload_image'), new_image_path, :id => "upload_image_link" %>
	</div>
        <%= f.label :content, t('.new_reply') %>
      </div>
      <div class="cell">
	<div class="content">
	  <div>
            <%= f.text_area :content, :class => "content" %>
	  </div>
	  <div>
	    <div class="top">
	      ⬆ <%= link_to t('.top'), "#top" %>
	    </div>
	    <%= hidden_field_tag :last_reply_counter, @topic.replies.size %>
	    <%= f.submit t('.add_reply'), :class => "super normal button" %>
	  </div>
	</div>
      </div>
    <% end %>
  </div>
<% end %>
