<p id="notice"><%= notice %></p>

<% div_for @topic do %>
  <h2><%= @topic.title %></h2>
  <%= simple_format @topic.content %>
<% end %>

<p>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Destroy', @topic, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'See All Topics', topics_path %>
</p>
