<%= div_for @topic, :class => "box" do %>
  <div class="cell">
    <div class="avatar">
      <%= image_tag "http://www.v2ex.com/avatar/1/large" %>
    </div>
    <div class="breadcrumbs">
      <%= link_to "Home", root_url %>
      <span class="chevron">&nbsp;›&nbsp;</span>
      <%= link_to "Project Babel", "javascript:void(0)" %>
    </div>
    <h2><%= @topic.title %></h2>
    <div class="meta">
      By <%= link_to "#{@topic.user.username}", "javascript:void(0)" %>
      at <%= time_ago_in_words(@topic.updated_at) %> ago
    </div>
  </div>
  <div class="content">
    <%= simple_format @topic.content %>
  </div>
<% end %>

<% unless @topic.replies.empty? %>
  <hr class="space" />
  <div id="replies" class="box">
    <div class="cell">
      <%= pluralize(@topic.replies.size, "reply") %> |
      <%= @topic.replies.last.created_at.to_datetime.strftime('%Y-%m-%d %H:%M:%S') %>
    </div>
    <%= render @topic.replies %>
  </div>
<% end %>

<% if user_signed_in? %>
  <hr class="space" />
  <div class="box">
    <div class="cell">
    <%= form_for [@topic, Reply.new] do |f| %>
      <p>
        <%= f.label :content, "New reply" %><br />
        <%= f.text_area :content %>
      </p>
      <p><%= f.submit "Add Reply" %></p>
    <% end %>
    </div>
  </div>
<% end %>
