<p id="notice"><%= notice %></p>

<%= render @topic %>

<p>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Destroy', @topic, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'See All Topics', topics_path %>
</p>
