<%= div_for @topic, :class => "box" do %>
  <div class="cell">
    <div class="avatar">
      <%= link_to image_tag(@topic.user.avatar_path(:original)), @topic.user %>
    </div>
    <div class="breadcrumbs">
      <%= link_to "Home", root_url %>
      <span class="separator">&nbsp;›&nbsp;</span>
      <%= link_to @topic.node.name, @topic.node %>
    </div>
    <h2><%= @topic.title %></h2>
    <div class="meta">
      By <%= link_to "#{@topic.user.username}", @topic.user %>
      at <%= time_ago_in_words(@topic.updated_at) %> ago
    </div>
  </div>
  <div class="content">
    <%= wrap_text(@topic.content) %>
  </div>
<% end %>

<% unless @topic.replies.empty? %>
  <hr class="space" />
  <div id="replies" class="box">
    <div class="cell">
      <div class="summary">
	<%= pluralize(@topic.replies.size, "reply") %> |
	<%= @topic.replies.last.created_at.to_datetime.strftime('%Y-%m-%d %H:%M:%S') %>
      </div>
    </div>
    <%= render @topic.replies %>
  </div>
<% end %>

<% if user_signed_in? %>
  <hr class="space" />
  <div class="box">
    <%= form_for [@topic, Reply.new] do |f| %>
      <div class="cell">
	<div class="top">
	  ⬆ <%= link_to "Top", "#top" %>
	</div>
        <%= f.label :content, "New reply" %>
      </div>
      <div class="cell">
	<div class="content">
          <%= f.text_area :content %>
	  <%= f.submit "Add Reply", :class => "super normal button" %>
	</div>
      </div>
    <% end %>
  </div>
<% end %>
