<%= form_for setup_user(@user), :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <table cellpadding="5" cellspacing="0" border="0">
    <tr class="immutable">
      <td class="name">
        <%# temporarily allowing users to change their username and email %>
	<%# User.human_attribute_name(:username) %>
        <%= f.label :username %>
      </td>
      <td class="value">
        <%# temporarily allowing users to change their username and email %>
	<%# @user.username %>
	<%= f.text_field :username, :class => "sl" %>
      </td>
    </tr>
    <tr class="immutable">
      <td class="name">
        <%# temporarily allowing users to change their username and email %>
	<%# User.human_attribute_name(:email) %>
	<%= f.label :email %>
      </td>
      <td class="value">
        <%# temporarily allowing users to change their username and email %>
	<%# @user.email %>
	<%= f.text_field :email, :class => "sl" %>
      </td>
    </tr>
    <tr>
      <td class="name">
	<%= f.label :signature %>
      </td>
      <td class="value">
	<%= f.text_field :signature, :class => "sl" %>
      </td>
    </tr>
    <tr>
      <td class="name">
	<%= f.label :biography %>
      </td>
      <td class="value">
	<%= f.text_area :biography, :class => "ml" %>
      </td>
    </tr>
    <tr>
      <td class="name">
	<%= f.label :locale %>
      </td>
      <td class="value">
	<%= f.collection_select :locale, LANGUAGES, :last, :first %>
      </td>
    </tr>
    <tr>
      <td class="name">
      </td>
      <td class="value">
	<%= f.check_box :email_publishing %>
	<%= f.label :email_publishing %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
	<%= f.submit t('.save_settings'), :class => "super normal button" %>
      </td>
    </tr>
  </table>
<% end %>
