<%= form_for setup_user(@user), :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <table cellpadding="5" cellspacing="0" border="0">
    <tr class="immutable">
      <td class="name">
	Username
      </td>
      <td class="value">
	<%= @user.username %>
      </td>
    </tr>
    <tr class="immutable">
      <td class="name">
	Email
      </td>
      <td class="value">
	<%= @user.email %>
      </td>
    </tr>
    <tr>
      <td class="name">
	<%= f.label :signature %>
      </td>
      <td class="value">
	<%= f.text_field :signature, :class => "sl" %>
      </td>
    </tr>
    <tr>
      <td class="name">
	<%= f.label :biography, "Bio" %>
      </td>
      <td class="value">
	<%= f.text_area :biography, :class => "ml" %>
      </td>
    </tr>
    <tr>
      <td class="name">
	<%= f.label :locale, "Language" %>
      </td>
      <td class="value">
	<%= f.collection_select :locale, LANGUAGES, :last, :first %>
      </td>
    </tr>
    <tr>
      <td class="name">
      </td>
      <td class="value">
	<%= f.check_box :email_publishing %>
	<%= f.label :email_publishing, "Let others see my email address" %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
	<%= f.submit "Save Settings", :class => "super normal button" %>
      </td>
    </tr>
  </table>
<% end %>
