<div class="box">
  <div class="cell">
    <div class="breadcrumbs">
      <%= link_to t('site.home'), root_url %>
      <span class="separator">&nbsp;›&nbsp;</span>
      <%= t('.settings') %>
    </div>
  </div>

  <div class="cell">
    <div class="form">
      <%= render 'profile_form' %>
    </div>
  </div>
</div>

<hr class="space" />
<div class="box">
  <div class="cell">
    <%= t('.avatar') %>
  </div>
  <div class="cell">
    <div class="form">
      <%= render 'avatar_form' %>
    </div>
  </div>
</div>

<hr class="space" />
<div class="box">
  <div class="cell">
    <%= t('.password') %>
  </div>
  <div class="cell">
    <div class="form">
      <%= render 'password_form' %>
    </div>
  </div>
</div>
