<% title @user.username %>

<div class="box">
  <div class="cell">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="user">
      <tr>
	<td class="avatar" width="73" valign="top" align="center">
	  <%= image_tag @user.avatar_path(:original), :alt => @user.username %>
	</td>
	<td class="details" width="auto" align="left" valign="top">

	  <div class="username">
	    <h2><%= @user.username %></h2>
	  </div>

	  <% if @user.signature %>
	    <div class="signature">
	      <%= @user.signature %>
	    </div>
          <% end %>

	  <div class="meta">
	    <%= t('.before_userid') %><%= @user.id %><%= t('.after_userid') %>
            <%= t('.before_timestamp') %> <%= @user.created_at.to_datetime.strftime('%Y-%m-%d %H:%M:%S') %><%= t('punctuation.period') %>
	  </div>

	  <% if @user.email_publishing %>
	    <hr class="space" style="margin-bottom:2px" />
	    <div class="email">
	      <div class="icon"><%= image_tag 'icons/email.png', :size => "16x16" %></div>
	      <div>
		<%= mail_to @user.email, @user.email, :encode => "hex" %>
	      </div>
	    </div>
          <% end %>

	</td>
      </tr>
    </table>
  </div>
  <% unless @user.biography.blank? %>
    <div class="cell biography">
      <div class="biography">
        <%= wrap_text(@user.biography, :images => false) %>
      </div>
    </div>
  <% end %>
</div>

<hr class="space" />
<div class="box">
  <div class="cell">
    <%= t('.recent_notifications') %>
  </div>
  <div class="cell">
    <div class="notifications">
      <%= render 'shared/message_listing', :items => @notifications  %>
    </div>
  </div>
</div>

<hr class="space" />
<div class="box">
  <div class="cell">
    <%= t('.recent_topics') %>
  </div>
  <div class="cell">
    <div class="user_topics">
      <%= render 'shared/item_listing', :items => @topics, :writer => "replier" %>
    </div>
  </div>
</div>

<hr class="space" />
<div class="box">
  <div class="cell">
    <%= t('.recent_replies') %>
  </div>
  <div class="cell">
    <div class="user_replies">
      <%= render 'shared/item_listing', :items => @replies %>
    </div>
  </div>
</div>
