<div class="container">
  <div style="padding:10px">
    <div class="logos">
      <%= link_to image_tag("platforms/aws.jpg", :alt => "AWS"), "http://aws.amazon.com/", :target => "_blank" %>
      <%= link_to image_tag("platforms/linode.jpg", :alt => "Linode"), "http://www.linode.com/?r=4e9c58666ed0eb954ad5f0e9f0bc3821458f81e2", :target => "_blank" %>
    </div>
    <div class="description">
      <p>
	<%= link_to t('site.name'), root_url %><%= t('.started_from') + t('punctuation.comma') %><%= t('.from') %><%= link_to t('.location'), "http://www.google.com/maps?q=#{t('.location')}", :target => "_blank" %><%= t('punctuation.period') %>
      </p>
      <p>
	<%= t('.before_rails') %> <%= link_to 'Ruby on Rails', "http://rubyonrails.org/", :target => "_blank" %><%= t('.after_rails') + t('punctuation.period') %>
      </p>
    </div>
  </div>
</div>
