<div class="container">
  <div style="padding:10px">
    <div class="logos">
      <%= image_tag "platforms/aws.jpg" %>
      <%= image_tag "platforms/linode.jpg" %>
    </div>
    <div class="description">
      <p>
	<%= link_to t('layouts.application.title'), root_url %><%= t('.started_from') + t('punctuation.comma') %>
	<%= t('.from') %><%= link_to t('.location'), "http://www.google.com/maps?q=#{t('.location')}", :target => "_blank" %><%= t('punctuation.period') %>
      </p>
      <p>
	<%= t('.before_rails') %> <%= link_to 'Ruby on Rails', "http://rubyonrails.org/", :target => "_blank" %> <%= t('.after_rails') + t('punctuation.period') %>
      </p>
    </div>
  </div>
</div>
