<table class="item_listing">
  <thead>
    <tr>
      <th class="replies"><%= t('.replies_count') %></th>
      <th class="subject"><%= t('.subject') %></th>
      <th class="author"><%= t('.author') %></th>
      <th class="last_replied"><%= t('.timestamp') %></th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |t| %>
      <tr class="<%= cycle("odd", "even", :name => "items") %>">
	<td class="replies">
	  <span <%= raw('class="mist"') if t.replies.size == 0 %>>
	    <%= t.replies.size %>
          </span>
	</td>
	<td class="subject">
	  <%= link_to t.title, t %>
	</td>
	<td class="author">
	  <% if (writer ||= nil) == "replier" && !t.replies.empty? %>
	    <%= link_to t.replies.first.user.username, t.replies.first.user %>
	  <% else %>
	    <%= link_to t.user.username, t.user %>
	  <% end %>
	</td>
	<td class="last_replied">
	  <%= (t.replies.empty? ? t.created_at : t.replies.first.created_at).to_datetime.strftime('%Y-%m-%d %H:%M:%S') %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% reset_cycle("items") %>
