<% for message in messages do %>
  <div class="message cell">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
	<td class="avatar" valign="top">
	  <%= link_to image_tag(message.user.avatar_path, :alt => message.user.username), message.user %>
	</td>
	<td class="details" valign="top">
	  <div class="title">
            <%= link_to_post_title message, :reply_prefix => t('.re') %>
	  </div>
	  <div class="meta">
	    <%= time_ago_in_words(message.created_at) %><%=
                t('.after_timestamp') %><%=
                message.topic? ? t('.before_publisher') : t('.before_replier') %>
	    <strong><%= link_to message.user.username, message.user %></strong>
	    <%= message.topic? ? t('.after_publisher') : t('.after_replier') %>
	  </div>
	  <div class="content">
	    <%= wrap_text(message.content) %>
	  </div>
	</td>
      </tr>
    </table>
  </div>
<% end %>
