<% if current_user %>
  <% unread_messages_count = current_user.unread_notifications.size %>
  <div class="box">
    <div class="cell">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	  <td class="avatar">
	    <%= link_to image_tag(current_user.avatar_path, :alt => current_user.username), current_user %>
	  </td>
	  <td class="username">
	    <%= link_to current_user do %>
	      <%= current_user.username %>
	      <% unless unread_messages_count == 0 %>
	        <span class="messages_count">(<%= unread_messages_count %>)</span>
              <% end %>
            <% end %>
	  </td>
	</tr>
      </table>
    </div>
  </div>
<% else %>
  <div class="box">
    <div class="cell">
      <div class="summary">
	<strong><%= t('site.name') %></strong>:<br />
	<%= t('site.description') %><%= t('punctuation.period') %>
      </div>
    </div>
    <div class="cell center">
      <div class="login_button">
	<%= link_to t('authenticity.join_now'), signup_path, :class => "super normal button" %>
      </div>
      <div class="returned_user">
	<%= t('.returned_user') %> <%= link_to t('authenticity.signin').downcase, login_path %><%= t('punctuation.period') %>
      </div>
    </div>
  </div>
<% end %>

<hr class="space" />
<div class="box">
  <div class="cell">
    <div class="summary">
      <%= t('.nodes') %>
    </div>
  </div>
  <div class="cell nodes">
    <% Node.all.each do |node| %>
      <%= link_to node do %>
        <div>
	  <span class="name"><%= node.name %></span>
	  <span class="separator">&nbsp; • &nbsp;</span>
	  <span class="description"><%= node.description %></span>
	</div>
      <% end %>
    <% end %>
  </div>
</div>
