<!DOCTYPE html>
<html>
<head>
  <title><%= t('site.name') %></title>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
  <div id="header">
    <a name="top"></a>
    <div class="container">
      <div id="logo">
	<span style="display:none"><%= link_to t('site.name'), root_url %></span>
	<span><%= link_to image_tag('logo.png', :alt => t('site.name')), root_url %></span>
      </div>
      <div id="navigation">
	<%= render 'shared/navigation' %>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div class="columns container">
      <div id="main">
	<div id="notification">
	  <%= content_tag :div, notice, :class => 'notice box' if notice.present? %>
	  <%= content_tag :div, alert, :class => 'alert box' if alert.present? %>
	</div>
	<div>
	  <%= yield %>
	</div>
      </div>
      <div id="side">
	<%= render 'shared/side' %>
      </div>
    </div>
    <div id="footer">
      <%= render 'shared/footer' %>
    </div>
  </div>
<%= render 'shared/google_analytics' if Rails.env.production? %>
</body>
</html>
