<!DOCTYPE html>
<html>
<head>
  <title>Xuncheng</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div class="container">
      <div id="logo">
	<span><%= link_to "Xuncheng", root_url %></span>
      </div>
      <div id="navigation">
	<%= render 'shared/navigation' %>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div class="columns container">
      <div id="main">
	<div id="notification">
	  <%= content_tag :div, notice, :class => 'notice box' if notice.present? %>
	  <%= content_tag :div, alert, :class => 'alert box' if alert.present? %>
	</div>
	<div class="box">
	  <%= yield %>
	</div>
      </div>
      <div id="side">
	<div class="box">
	  <div style="padding:10px">
	    <%= link_to 'New Topic', new_topic_path %>
	  </div>
	</div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
	  <div style="padding:10px">
	    Placeholder for footer...
	  </div>
      </div>
    </div>
  </div>
</body>
</html>
